<!doctype html>  


<html lang="fr">  

    <head>
      <meta charset="utf-8">
      <title>GuideOffice</title>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>

      <!-- jQuery & Ajax -->
      <script src="js/jquery.js"></script>

      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">

      <!-- Icon de l'onglet -->
      <link rel="icon" type="image/png" href="images/Logo_ID.png" />

      <!-- Fonts -->
      <link rel="stylesheet" type="text/css" href="css/fonts.css">

      <!-- CSS pour les vignette -->
      <link rel="stylesheet" type="text/css" href="css/vignette/style.css" />
      <link rel="stylesheet" type="text/css" href="css/vignette/common.css" />

      <!-- CSS Maretialize -->
      <link type="text/css" rel="stylesheet" href="css/materialize/materialize.css"  media="screen,projection"/>


      <!-- CSS & JS Perso -->
      <link href="css/style.css" rel="stylesheet" >
      <script src="js/script.js"></script>
      <script src="js/recherche/recherche.js"></script>

 


    </head>



   {% block menu_nav %} 
    
   {% endblock %}
        
     

    <body data-spy="scroll" data-target="#myScrollspy">
        
        {% block header %}
                
          <div class="container">
            <div class="banniere">
              <div>
                <img src="images/Logo_ID.png" id="logo">
              </div>
              <div class="ligne_vertical"></div>
              <div>
                <h1 id="titreSite">GuideOffice</h1>
                <h1 id="descSite"><small>Guide au application Office et Oracle</small></h1>
              </div>
            </div>
          </div>            
            
        {% endblock %}

    


       {% block contenue %}

       <div class="row" id="nav">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav list-group affix-top" data-spy="affix" data-offset-top="300">
                <li class="list-group-item"><a href="#logo" class="">Accueil</a></li>
                <li class="list-group-item"><a href="#prepa" class="">Présentation</a></li>
                <li class="list-group-item"><a href="#modules" class="">Modules</a></li>
                <li class="list-group-item"><a href="#contenue" class="">Contenue</a>
                    <ul class="nav submenu">
                        <li class="list-group-item hide"><a href="#contenue" class="">Recherche</a></li>
                        <li class="list-group-item hide"><a href="#cours" class="">Cours</a></li>
                        <li class="list-group-item hide"><a href="#exercices" class="">Exercices</a></li>
                    </ul>
                </li>
                <li class="list-group-item"><a href="#aide" class="">Aide</a></li>
            </ul>
        </div>
        

        <div class="col-xs-6">

          <!-- PARTIE PRESENTATION -->
          <div class="part" id="prepa">
            <h1 class="part-heading text-center"> Présentation</h1>
            <div class="text-center">Cette application a pour but de vous aider à progresser dans l’utilisation des logiciels du pack office de Microsoft, Word, Excel, PowerPoint ainsi qu’au langage informatique SQL pours les bases de données de Oracle.
            L’application est divisée en ces quatre modules composés de cours et d’exercice, où vous pourrez à la fois approfondir vos connaissances mais aussi les mettre à l’épreuve.
            </div>
          </div>


          <div class="separator"></div>

          <!-- PARTIE DES MODULES -->
          
          <div class="part" id="modules">
            <h1 class="part-heading text-center"> Modules</h1>
            
            <ul class="ch-grid">

              <li class="vignette">
                <div class="ch-item ch-img-1 autre waves-effect waves-light cliquable" 
                    style="background-image: url(images/Logo_Word.png);"
                    onclick="module({{cOracle | json_encode}}, {{eOracle | json_encode}})">
                  <div class="ch-info" >
                    <h3>Autre</h3>
                  </div>
                </div>
              </li>
            
              <li class="vignette">
                <div class="ch-item ch-img-1 word waves-effect waves-light cliquable" 
                    style="background-image: url(images/Logo_Word.png);" 
                    onclick="module({{cWord | json_encode}}, {{eWord | json_encode}})">
                  <div class="ch-info" >
                    <h3>Word</h3>
                  </div>
                </div>
              </li>
            
              <li class="vignette">
                <div class="ch-item ch-img-1 excel waves-effect waves-light cliquable" 
                    style="background-image: url(images/Logo_Excel.png);"
                    onclick="module({{cExcel | json_encode}}, {{eExcel | json_encode}})">
                  <div class="ch-info" >
                    <h3>Excel</h3>
                  </div>
                </div>
              </li>
            
              <li class="vignette">
                <div class="ch-item ch-img-1 powerpoint waves-effect waves-light cliquable" 
                    style="background-image: url(images/Logo_PowerPoint.png);"
                    onclick="module({{cPp | json_encode}}, {{ePp | json_encode}})">
                  <div class="ch-info" >
                    <h3>PowerPoint</h3>
                  </div>
                </div>
              </li>
            
              <li class="vignette">
                <div class="ch-item ch-img-1 oracle waves-effect waves-light cliquable" 
                    style="background-image: url(images/Logo_Oracle.png);"
                    onclick="module({{cOracle | json_encode}}, {{eOracle | json_encode}})">
                  <div class="ch-info" >
                    <h3>Oracle</h3>
                  </div>
                </div>
              </li>

              
              
                     
            </ul>
          </div>           



          <div class="separator"></div>

            <div class="part" id="contenue">
            
              <div class="input-field" id="recherche">
                <i class="mdi-action-search prefix"></i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Recherche</label>
              </div>

              <div id="sous_contenue">

              <!-- PARTIE COURS -->
              <div class="part" id="cours">
                <h1 class="part-heading text-center"> Cours</h1>
                <div id='contenue_cours'>
                  <p class="text-center">Selectionner un module ou faites une recherche pour afficher une liste de cours</p> 
                </div>      
              </div>

              <div class="separator"></div>


              <!-- PARTIE EXERCICE -->
              <div class="part" id="exercices">
                <h1 class="part-heading text-center">Exercices</h1>
                <div id='contenue_exercice'>
                  <p class="text-center">Selectionner un module ou faites une recherche pour afficher une liste d'exercices</p>
                </div>
              </div>
            </div>
          </div>

          <div class="separator"></div>

          <!-- PARTIE AIDE -->
          <div class="part" id="aide">
            <h1 class="part-heading text-center"> Aide</h1>
            <ul class="tabs">
              <li class="tab col s3"><a href="#contact" class="active">Contact</a></li>
              <li class="tab col s3"><a href="#faq">FAQ</a></li>
            </ul>
            
            <div id="contact">
              <div class="text-center"> En cas de besoin n'hesitez pas à remplire le formulaire ci-dessous.</div>
              <br/>
              <div class="text-center">
                <iframe src="https://docs.google.com/forms/d/17T3nBDiLyp7IgzqdNGVTF-ifasEn5Szq9aU-2m1tFkE/viewform?embedded=true" width="700" height="1000">Chargement en cours...</iframe>
              </div>
            </div>

            <div id="faq">
              <ul class="collapsible popout" data-collapsible="accordion">

                {% for i in faq %}
                <li>
                  <div class="collapsible-header">
                    <i class="mdi-hardware-keyboard-arrow-right"></i>
                    {{i.question}}
                  </div>
                  <div class="collapsible-body"><p>{{i.reponse}}</p></div>
                </li>
                {% endfor %}
              </ul>
            </div>

          </div>
        </div>
       {% endblock %}


    </body>

<footer>
    {% block footer %}

    {% endblock %}

</footer>


    {% block plus %}

    {% endblock %}


    
    <!-- Materialize -->
    <script src="js/materialize/materialize.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    
  <script type="text/javascript">
    /* $(document).ready(function(){
        $('ul.tabs').tabs();
      });*/
      
  </script>


</html>