<!doctype html>  


<html lang="fr">  

    <head>
      <meta charset="utf-8">
      <title>GuideOffice</title>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>

      <!-- jQuery & Ajax -->
      <script src="js/jquery.js"></script>

      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">

      <!-- Icon de l'onglet -->
      <link rel="icon" type="image/png" href="images/Logo_ID.png" />

      <!-- Fonts -->
      <link rel="stylesheet" type="text/css" href="css/fonts.css">

      <!-- CSS pour les vignette -->
      <link rel="stylesheet" type="text/css" href="css/vignette/style.css" />
      <link rel="stylesheet" type="text/css" href="css/vignette/common.css" />

      <!-- CSS Maretialize -->
      <link type="text/css" rel="stylesheet" href="css/materialize/materialize.css"  media="screen,projection"/>


      <!-- CSS & JS Perso -->
      <link href="css/style.css" rel="stylesheet" >
      <script src="js/script.js"></script>
      <script src="js/recherche/recherche.js"></script>

 


    </head>



   
        
     

    <body data-spy="scroll" data-target="#myScrollspy">
        
       
        <div class="banniere blue darken-4">   
          <div class="container">
            <div>
              <img src="images/Logo_ID_RedArrow.png" id="logo">
            </div>
            <div class="center-align">
              <h1 id="titreSite">GuideOffice</h1>
              <h1 id="descSite">Guide au application Office et Oracle</h1>
            </div>
          </div>            
        </div>


    




       <div class="row" id="nav">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav list-group affix-top" data-spy="affix" data-offset-top="300">
                <li class="list-group-item"><a href="#logo" class="">Accueil</a></li>
                <li class="list-group-item"><a href="#prepa" class="">Présentation</a></li>
                <li class="list-group-item"><a href="#modules" class="">Modules</a></li>
                <li class="list-group-item"><a href="#contenue" class="">Contenu</a>
                    <ul class="nav submenu">
                        <li class="list-group-item hide"><a href="#contenue" class="">Recherche</a></li>
                        <li class="list-group-item hide"><a href="#cours" class="">Cours</a></li>
                        <li class="list-group-item hide"><a href="#exercices" class="">Exercices</a></li>
                    </ul>
                </li>
                <li class="list-group-item"><a href="#aide" class="">Aide</a></li>
            </ul>
        </div>
        

        <div class="col-xs-6">

          <!-- PARTIE PRESENTATION -->
          <div class="part" id="prepa">
            <h1 class="part-heading text-center"> Présentation</h1>
            <div class="text-center">Cette application a pour but de vous aider à progresser dans l’utilisation des logiciels du pack Office de Microsoft, Word, Excel, PowerPoint ainsi qu’au langage informatique SQL pour les bases de données de Oracle.<br/>
            Pour chacun de ces modules, vous pourrez consulter des cours, afin d’approfondir vos connaissances, mais vous pourrez aussi les mettre à l’épreuve grâce aux différents exercices proposés.
            </div>
          </div>
          <!-- FIN PRESENTATION -->

          <div class="separator"></div>

          <!-- PARTIE DES MODULES -->
          
          <div class="part" id="modules">
            <h1 class="part-heading text-center"> Modules</h1>
            
            <ul class="ch-grid">

              <!-- <li class="vignette">
                <div class="ch-item ch-img-1 autre waves-effect waves-light cliquable" 
                    style="background-image: url(images/Logo_Word.png);"
                    onclick="module({{cOracle | json_encode}}, {{eOracle | json_encode}})">
                  <div class="ch-info" >
                    <h3>Autre</h3>
                  </div>
                </div>
              </li> -->
            
              <li class="vignette">
                <div class="ch-item ch-img-1 word waves-effect waves-light cliquable" 
                    style="background-image: url(images/Logo_Word.png);" 
                    onclick="module({{cWord | json_encode}}, {{eWord | json_encode}})">
                  <div class="ch-info" >
                    <h3>Word</h3>
                  </div>
                </div>
              </li>
            
              <li class="vignette">
                <div class="ch-item ch-img-1 excel waves-effect waves-light cliquable" 
                    style="background-image: url(images/Logo_Excel.png);"
                    onclick="module({{cExcel | json_encode}}, {{eExcel | json_encode}})">
                  <div class="ch-info" >
                    <h3>Excel</h3>
                  </div>
                </div>
              </li>
            
              <li class="vignette">
                <div class="ch-item ch-img-1 powerpoint waves-effect waves-light cliquable" 
                    style="background-image: url(images/Logo_PowerPoint.png);"
                    onclick="module({{cPp | json_encode}}, {{ePp | json_encode}})">
                  <div class="ch-info" >
                    <h3>PowerPoint</h3>
                  </div>
                </div>
              </li>
            
              <li class="vignette">
                <div class="ch-item ch-img-1 oracle waves-effect waves-light cliquable" 
                    style="background-image: url(images/Logo_Oracle.png);"
                    onclick="module({{cOracle | json_encode}}, {{eOracle | json_encode}})">
                  <div class="ch-info" >
                    <h3>Oracle</h3>
                  </div>
                </div>
              </li>
      
            </ul>
          </div>           
          <!-- FIN MODULE -->


          <div class="separator"></div>
            

            <!-- PARTIE CONTENUE -->
            <div class="part" id="contenue">
            
              <div class="input-field" id="recherche">
                <i class="mdi-action-search prefix"></i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Recherche</label>
              </div>

              <!-- PARIE SOUS_CONTENUE -->
              <div id="sous_contenue">

                <!-- PARTIE COURS -->
                <div class="part" id="cours">
                  <h1 class="part-heading text-center"> Cours</h1>
                  <div id='contenue_cours'>
                    <p class="text-center">
                      Selectionner un module ou faites une recherche pour afficher une liste de cours
                    </p> 
                  </div>      
                </div> 
                <!-- FIN COURS -->

                <div class="separator"></div>


                <!-- PARTIE EXERCICE -->
                <div class="part" id="exercices">
                  <h1 class="part-heading text-center">Exercices</h1>
                  <div id='contenue_exercice'>
                    <p class="text-center">
                      Selectionner un module ou faites une recherche pour afficher une liste d'exercices
                    </p>
                  </div>
                </div> 
                <!-- FIN EXERCICE -->
              </div>
              <!-- FIN SOUS_CONTENUE -->
          </div>
          <!-- FIN CONTENUE -->



          <div class="separator"></div>




          <!-- PARTIE AIDE -->
          <div class="part" id="aide">
            <h1 class="part-heading text-center"> Aide</h1>
            <ul class="tabs">
              <li class="tab col s3"><a href="#faq" class="active">FAQ</a></li>
              <li class="tab col s3"><a href="#contact">Contact</a></li>
            </ul>
            
            <div id="faq">
              <ul class="collapsible popout" data-collapsible="accordion">

                {% for i in faq %}
                <li>
                  <div class="collapsible-header">
                    <i class="mdi-hardware-keyboard-arrow-right"></i>
                    {{i.question}}
                  </div>
                  <div class="collapsible-body"><p>{{i.reponse}}</p></div>
                </li>
                {% endfor %}
              </ul>
            </div>

            <div id="contact">
              <div class="text-center"> En cas de besoin n'hesitez pas à remplire le formulaire ci-dessous.</div>
              <br/>
              <div class="text-center">
                <iframe src="https://docs.google.com/forms/d/17T3nBDiLyp7IgzqdNGVTF-ifasEn5Szq9aU-2m1tFkE/viewform?embedded=true" width="700" height="1000">Chargement en cours...</iframe>
              </div>
            </div>

          </div>
          <!-- FIN AIDE -->
        </div>
        <!-- FIN col s6 -->
      </div>
      <!-- FIN row principal -->

      
      <!-- FOOTER -->
      <div class="foot blue darken-4 white-text">
        <div class="container">
          <div class="row" style="padding-bottom:20px;">
      
             <div class="col s4">
              <h3>ID LOGISTICS</h3>
              Parc Synergie Val de Loire <br/>
              6ème avenue <br/>
              45130 Meung sur Loire <br/>
              France <br/>
              <a href="http://www.id-logistics.com">www.id-logistics.com</a> <br/>
            </div>
      
            <div class="col s4">
              <h3>François Bieron</h3>
              Responsable de site <br/>
              <i class="mdi-maps-local-phone"></i> : 02.38.46.75.70 <br/>
              <i class="mdi-hardware-phone-android"></i> : 06.17.91.58.94 <br/>
              <i class="mdi-content-mail"></i> : fbieron@id-logistics.com <br/>
      
            </div>
      
           
      
            <div class="col s4">
              <h3>Réalisation</h3>
              Cette application sous la forme d'un site, a été réalisée par Maxime Guyot, au cours d'un stage sur la période d'Avril à Juin 2015.
            </div>
          </div>
      
        
        </div>
        
        <div class="copyright">
          <div class="container">
            <div class="row valign-wrapper" style="margin-bottom:0px;">
              <div class="col s6 valign">
                <div class="">
                  <h5 class="">© 2015-2016 IDLogistics - Meung sur Loire.</h5>
                </div>
              </div>
              <div class="col s6">
              <img class="right" src="images/Logo_ID_RedArrow.png">
              </div>
                
            </div>

          </div>
        </div>
      
      
      </div>
      <!-- FIN FOOTER -->

    </body>

    
    
    <!-- Materialize -->
    <script src="js/materialize/materialize.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    
    <script type="text/javascript">
     

    </script>


</html>